*.class

# Package Files #
*.jar
*.war
*.ear
/handin_2/nbproject/private/
/handin_2/build/
/handin_2_0/nbproject/private/
/handin_2_0/build/
/MeeBox - NicolaiKruger/nbproject/private/
/handin_3/netbeans/handin_3/nbproject/private/
/handin_3/netbeans/handin_3/build/